:root {
	font-size: 16px;
  font-family: "Open Sans";
  --highlight: #4285F4;
  --map-color: lightblue;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
}

#map {
  width: 65vw;
  height: 100vh;
}

#routes {
  width: 35vw;
  height: 100vh;
  position: fixed;
  left: 65vw;
  overflow: scroll;
  background-color: var(--map-color);
}

routes > table {
  width: 100%;
}
